@model IEnumerable<Otelrezervasyon.Models.Tbl_Reservasyon>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Css/stilim.css" rel="stylesheet" />
</head>
<body>
    <h1>Kahramanmaraş Otel</h1>
    <h3>Oda Listeleri</h3>
    <table class="table" border="1" cellpadding="5" cellspacing="0">
        <tr>
            <th>
                Oda Resmi
            </th>
            <th>
                Oda Türü
            </th>
            <th>
               Kat Numarası
            </th>
            <th>
               Oda Numarası
            </th>
            <th>
                Fiyat   
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @{
                    var dir = "~/Vechilımages/" + item.RezervasyonId + ".jpeg";
                    string FolderPath = Path.Combine(Server.MapPath(dir));
                    if (System.IO.File.Exists(FolderPath))
                    {
                        <img src="@Url.Content(dir)" width="150" />
                    }

                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Odatürü)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Katno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Odano)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fiyat)
            </td>
            <td>
                @Html.ActionLink("Detay", "Details", new { id=item.RezervasyonId }) |
                @Html.ActionLink("Rezervasyon", "Rezervation", new { id=item.RezervasyonId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
